* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 225, 225);
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 700px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

.header, .main {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1a7b79;
}

.main {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.todo-container {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 15%;
}

.todo-item p {
    margin: 0;
    width: 50%;
}

.remove-btn {
    margin: 0 3px !important;
    padding: 3px 9px !important;
    font-size: 12px !important;
    border-radius: 100px !important;
    border: solid #1a7b79 !important;
    box-shadow: 3px -3px !important; 
}

.fa-times-circle {
    font-size: 60px;
}
